.App-header {
    background-color: #282c34;
    font-size: 18px;
    color: white;
    line-height: 4rem;
  }

.App-header ul{
    display: inline-block;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 700;
    right: 0;
}

.App-header ul li{
    padding: 0 0 0 5px;
    text-align: left;
    min-height: 2rem;
    line-height: 2rem;
    transition: 250ms all;
    display: inline;
}

.App-header ul li:hover{
    background-color: grey;
    color: #fff;
    cursor: pointer;
}

.header-text{
    text-align: left;
    font-weight: 700;
    margin-left: 1rem;
}

.header-menu{
    text-align: right;
    padding-right: 5rem;
}

