.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.recent-books{
  border-right: 1px solid grey;
  min-height: calc(100vh - 2rem);
  background-color: #84d7ee;
}

.favorites-books{
  border-right: 1px solid grey;
  min-height: calc(100vh - 2rem);
  background-color: beige;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
