.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.left-section{
  height: calc(100vh -2rem);
  background-color: rgb(238, 234, 234);
}

.recent-books{
  min-height: 50vh;
}

.favorites-books{
  border-bottom: 1px solid grey;
  min-height: 50vh;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
